.App {
  text-align: center;
}

.Header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px 0 black;
  background-color: black;
}

.Logo {
  color: white;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 1px;
}

.Side-Panel {
  height: 600px;
  width: 200px;
  background-color: darkorange;
  border-radius: 0 0 5px 0;
  box-shadow: 0 0 10px 0 black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  z-index: 1;
}

.Side-Active {
  transform: translateX(0%);
}

