.App {
  text-align: center;
  background-color: beige;
  min-height: 900px;
  height: auto;
}

.Header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px 0 black;
  background-color: black;
}

.Logo {
  color: white;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 1px;
}

.Side-Panel {
  top: '60px';
  position: absolute;
  height: 700px;
  width: 200px;
  background-color: darkorange;
  border: 2px outset;
  border-radius: 0 0 5px 0;
  box-shadow: 0 0 10px 0 black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  z-index: 1;
}

.Side-Active {
  transform: translateX(0%);
}

.Side-Li {
  line-height: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-top: 2px outset;
  border-bottom: 2px outset;
  color: black;
}

.Calender {
  height: 700px;
  margin: 30px 0 0 2.5%;
  width: 95%;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
}

.month {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  height: 70px;
  line-height: 70px;
  color: white;
  background-color: cornflowerblue;
}


