* {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  overflow-x: hidden;
}

.App {
  min-height: 700px;
  mix-blend-mode: unset;
  text-align: center;
  background: radial-gradient(rgb(255, 227, 176), rgb(199, 199, 199));;
}

.nav-bar { 
  display: flex;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px 0 black;
  background: black;
}

.logo {
  color: white;
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
}

.nav-menu {
  display: flex;
  z-index: 3;
}

.nav-panel {
  position: absolute;
  top: 60px;
  right: 0;
  height: 700px;
  width: 250px;
  background: rgb(56, 56, 56);
  border-radius: 0 0 5px 0;
  box-shadow: 0 0 10px 0 black;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  background: darkorange;
}

.nav-menu:hover .nav-panel {
  transform: translateX(0%);
}

.nav-li {
  height: 120px;
  line-height: 120px;
  font-size: 18px;
  color: rgb(53, 53, 53);
  background: darkorange;
}

.nav-li:hover {
  color: darkorange;
  background: white;
}

.home {
  display: flex;
  flex-direction: column;
  height: 800px;
  background: orange;
  background: radial-gradient(rgb(255, 198, 93), orange);
}

.intro {
  position: absolute;
  left: 3%;
  display: flex;
  flex-direction: column;
  width: 60%;
  color: rgb(240, 240, 240);
}

.intro-text {
  font-size: 32px;
  animation: fadeIn 4s linear infinite alternate;
}

.about-btn {
  margin-top: 15px;
  height: 50px;
  width: 150px;
  font-size: 16px;
  color: rgb(240, 240, 240); 
  background: darkorange;
  border-radius: 10px;
  border: 2px solid rgb(240, 240, 240);
}

.calender {
  min-height: 1000px;
  width: 100%;
  background: rgb(56, 56, 56);
  box-shadow: 10px 0 10px 0 black;
  border-radius: 25px 25px 0 0;
}

.calender * {
  color: darkorange;
}

.month-label {
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
  height: 70px;
  line-height: 70px;
  border-radius: 25px 25px 0 0;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 0 35px 1%;
  width: 98%;
}

.week-label {
  line-height: 60px;
  font-size: 20px;
}

.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: repeat(5, auto);
  border: 3px solid darkorange;
  margin-left: 1%;
  width: 98%;
}

.date {
  text-align: left;
  font-size: 20px;
  height: 150px;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: darkorange;
}

.add-slot {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 325px;
  width: 250px;
  font-size: 16px;
  font-family: cursive;
  box-shadow: 0 0 10px 0 purple;
  border: 1px solid purple;
  border-radius: 5px;
  color: rgb(240, 240, 240);
  background: purple;
  z-index: 2;
}

.two-btn {
  display: flex;
  width: 100%;
}

.cancel-btn {
  font-size: 16px;
  background: red;
  color: white;
  height: 50px;
  width: 50%;
  border: 0;
}

.submit-btn {
  font-size: 16px;
  background: darkorchid;
  color: white;
  height: 50px;
  width: 50%;
  border: 0;
}

.slot {
  height: 20px;
  margin: 10px 0 0 2.5%;
  width: 98%;
  color: white;
  background: darkorchid;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 black;
}

.slot:hover {
  background: firebrick;
}

.slot-expand {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  margin-left: 15px;
  padding: 10px 0 0 10px;
  min-height: 200px;
  width: 250px;
  font-size: 16px;
  font-family: cursive;
  box-shadow: 0 0 10px 0 black;
  background: white;
  z-index: 2;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(56, 56, 56);
  color: white; 
}

.about-app {
  padding: 10px 0 50px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  box-shadow: 0 0 100px 0 black;
}

.about-header {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 50px;
  color: darkorange;
}

.about-body {
  width: 75%;
  font-size: 20px;
  color: darkorange;
}

.view-btn {
  margin: 80px 0 20px 0;
  height: 40px;
  width: 125px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid grey;
  color: grey;
  background: rgb(240, 240, 240);
}

.about-me {
  padding-bottom:  50px;  
  width: 100%;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}

.profile-container {
  height: 800px;
  padding-bottom: 50px;  
  width: 100%;
  background: rgb(240, 240, 240);
}

.profile-header {
  display: inline-block;
  margin: 50px 0 0 50px;
  height: 260px;
  width: 250px;
}

.profile-body {
  display: inline-block;
  margin-left: 10%;
  font-size: 18px;
  width: 60%;
}

.profile-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  box-shadow: 1px 1px 1px 1px grey;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100%;
}

.view-file {
  margin: 50px 0 0 45%;
  height: 40px;
  line-height: 40px;
  width: 120px;
  font-size: 16px;
  color: rgb(240, 240, 240);
  background: rgb(150, 0, 150);
  border: 2px solid purple;
  border-radius: 5px;
}

.about-btn:hover, .btn:hover, .viewBtn:hover, .view-file:hover, .cancel-btn:hover, .submit-btn:hover {
  opacity: 0.5;
}

.task-container {
  margin: 50px 0 0 5%;
  width: 90%;
  overflow: hidden;
}

.create-list {
  margin-left: 125px;
  float: left;
  display: inline-flex;
  flex-direction: column;
  height: 350px;
  width: 18%;
  background: rgb(200, 200, 200);
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.create-list:hover {
  box-shadow: 3px 3px 3px 3px gray;
}

.list-container {
  display: flex;
}

.list {
  float: left;
  display: inline-flex;
  flex-direction: column;
  margin: 0 0 20px 100px;
  min-height: 400px;
  width: 250px;
}

.list-header {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 24px;
  width: 100%;
  font-family: cursive;
}

.list-body {
  margin-top: 15px;
  min-height: 250px;
  width: 90%;
}

.task-li {
  overflow-x: unset;
  text-align: left;
  font-size: 20px;
  font-family: cursive;
  letter-spacing: 1px;
  word-wrap: break-word;
  list-style-type: square;
}

.list-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: 50px;
}

a {
  text-decoration: none;
  display: block;
}

input {
  width: 80%;
  border: 1px solid gray;
  box-shadow: 0 0 1px 0 black;
  margin-bottom: 10px;
}

select {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow: 0 0 1px 0 black;
}

textarea {
  margin: 15px 0;
  width: 90%;
  min-height: 75px;
  border: 1px solid gray;
  box-shadow: 0 0 1px 0 black;
}

.alarm-clock {
  color: rgb(240, 240, 240);
  font-size: 75px;
  cursor: pointer;
}

.alarm-clock:hover {
  color: darkorange;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    color: orange;
  }
  50% {
    opacity: 0.5;
    color: navy; 
  }
  100% {
    opacity: 1;
    color: white;
  }
}